<!-- <a mat-list-item [ngStyle]="{'padding-left': (0 * 12) + 'px'}" (click)="expanded = !expanded;">
  <mat-icon class="routeIcon">group</mat-icon>
    Speakers
  <span fxFlex>
    <span fxFlex></span>
    <mat-icon [@rotateUpDownArrow]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<a mat-list-item [ngStyle]="{'padding-left': (1 * 12) + 'px', 'display': expanded?'block':'none'}">
  <mat-icon class="routeIcon">person</mat-icon>
    Papa
  <span fxFlex>
    <span fxFlex></span>
  </span>
</a> -->

<a mat-list-item [ngStyle]="{'padding-left': (nestingFromRoot * 10) + 'px'}"
  (click)="expanded = !expanded;onItemSelected(navItem)" class="sidenav-item" [ngClass]="{'active': navItem.route ? isNavItemActive(): false, 'expanded': expanded}">
  <mat-icon class="routeIcon">{{navItem.iconName}}</mat-icon>
  {{navItem.displayText}} {{isNavItemActive()}}
  <span fxFlex>
    <span fxFlex></span>
    <mat-icon [@rotateUpDownArrow]="expanded ? 'expanded': 'collapsed'" *ngIf="navItem.children && navItem.children.length > 0">
      expand_more
    </mat-icon>
  </span>
</a>


<div [@slideInOut] [ngClass]="{'transition':show}" *ngIf="expanded" id="test">
  <app-nav-item  *ngFor="let item of navItem.children" [navItem]="item" [nestingFromRoot]="nestingFromRoot + 1"></app-nav-item>
</div>
