<mat-card>
    <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
        <div fxFlex></div>
        <!-- <div>
            <button mat-icon-button><mat-icon>search</mat-icon></button>
            <button mat-icon-button><mat-icon>view_module</mat-icon></button>
            <button mat-icon-button><mat-icon>more_vertical</mat-icon></button>
        </div> -->
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Company" type="text" required>
        </mat-form-field>

        <div fxLayout.gt-xs="row" fxLayoutGap.gt-xs="16px" fxLayout="column">
          <mat-form-field fxFlex>
            <input matInput placeholder="First Name" type="text">
          </mat-form-field>

          <mat-form-field fxFlex>
            <input matInput placeholder="Last Name" type="text" required>
          </mat-form-field>
        </div>

        <mat-form-field>
          <input matInput placeholder="Password" type="password" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput #lengthHint maxlength="10" placeholder="Hint Label and Max Length" type="text" required>
          <mat-hint align="start">Try to type in more than 10 letters</mat-hint>
          <mat-hint align="end">{{ lengthHint.value.length }}/10</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Disabled" disabled>
        </mat-form-field>
     </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
            <mat-card-title>
                Basic Forms
            </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column">
          <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="16px">
              <mat-form-field color="primary" fxFlex>
                <input matInput placeholder="Primary Color" type="text">
              </mat-form-field>

              <mat-form-field color="accent" fxFlex>
                <input matInput placeholder="Accent Color" type="text">
              </mat-form-field>

              <mat-form-field color="warn" fxFlex>
                <input matInput placeholder="Warn Color" type="text">
              </mat-form-field>
            </div>

            <mat-form-field>
              <input matInput placeholder="Username" type="text" value="DavidSmith">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex.gt-sm>
              <span matPrefix>+1 &nbsp;</span>
              <input matInput placeholder="Mobile Phone" type="text" required>
              <mat-icon matSuffix>smartphone</mat-icon>
            </mat-form-field>

            <mat-form-field floatPlaceholder="never">
              <input matInput placeholder="No Floating Placeholder" type="text" required>
            </mat-form-field>
      </div>
    </mat-card-content>
</mat-card>
